#titulo{
	color: white;
}
#rotulo{
	font-size: 20px;
	color: white;
	text-align: center;

}
body{
	background-image: url("1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

